{% extends 'coco/base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <h1 class="text-center mb-5">About Pateto Coco</h1>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <img src="{% static 'coco/images/coco-crop-hat-prague.jpg' %}" alt="Pateto Coco" class="img-fluid rounded-circle mb-3">
            </div>
            <div class="col-lg-6">
                <p class="lead mb-3">Meet Pateto Coco, the little rubber duck with an adventurous spirit and an
                    insatiable curiosity. Pateto Coco loves to travel and explore the world, always on the lookout for
                    new and exciting places to discover.</p>
                <p class="lead mb-3">Despite being small in size, Pateto Coco has a big personality and an even bigger heart.
                    He's not afraid to take risks and try new things, and he approaches every adventure with a sense of
                    wonder and enthusiasm that's infectious to everyone around him.</p>
                <p class="lead mb-3">From swimming in the deep blue sea to soaring through the clouds in a hot air balloon,
                    Pateto Coco has seen and done it all. He's faced challenges and overcome obstacles, but he's always
                    emerged stronger and more resilient than before.</p>
            </div>
        </div>
    </div>

{% endblock %}
