{% extends 'coco/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                {% for post in posts %}
                    {% if post.destination and post.status %}
                        <!-- Post content-->
                        <div class="card mt-lg-5">
                            <!-- Preview image figure-->
                            <div class="card-body card-body-custom">
                                <h2 class="card-title h4">{{ post.title }}</h2>
                                <div class="small text-muted">Posted on {{ post.created_at }} by {{ post.author }}</div>
                                <a href="{% url 'coco-post' post.slug %}"><img class="card-img-top" src="{{ post.image.url }}"
                                                 alt="..."/></a>

                                <p class="card-text">{{ post.resume }}</p>
                                <a class="btn btn-primary" href="{% url 'coco-post' post.slug %}">Read more</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}