{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">

    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand">
                <img src="{% static '/coco/images/duck-blue.png' %}" alt="Pateto Coco">
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-2">  <!-- or without me-auto -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'coco-home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coco-blog' %}">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Places
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'coco-bulgaria' %}">Bulgaria</a></li>
                        <li><a class="dropdown-item" href="{% url 'coco-abroad' %}">Abroad</a></li>
                        <li><a class="dropdown-item" href="{% url 'coco-favourites' %}">Favourites</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'coco-where' %}">Where to go?</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coco-about' %}">About</a>
                </li>
            </ul>
            <img src="{% static 'coco/images/pateto-coco-low-resolution-logo.png' %}" alt="logo" class="logo">
            <form class="d-flex" role="search" id="search-placeholder">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-duck-blue" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
