{% extends 'coco/base.html' %}
{% load static %}

{% block content %}

    <section class="container my-5 text-center">
                <div class="col-7 mx-auto">
                    {% if searched %}
                        <h2>Results for {{ searched }}</h2>
                        <br>
                        <div class="row">
                            {% for post in posts %}
                                    <div class="col-lg-6">
                                        <!-- Blog post-->
                                        <div class="card mb-4">
                                            <a href="{% url 'coco-post' post.slug %}"><img
                                                    class="card-img-top fixed-height-img"
                                                    src="{{ post.image.url }}" alt="..."/></a>
                                            <div class="card-body card-body-custom">
                                                <h2 class="card-title h4">{{ post.title }}</h2>
                                                <div class="small text-muted">{{ post.created_at }}</div>

                                                <a class="btn btn-primary" href="{% url 'coco-post' post.slug %}">Read
                                                    more</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2>Enter something to search!</h2>
                    {% endif %}
                </div>
    </section>

{% endblock %}
